[importlinter]
root_package=project
include_external_packages=True

[importlinter:contract:1]
name=oil and water are independent
type=independence
modules=
    project.oil
    project.water

[importlinter:contract:2]
name=fire cannot import water (but water can import fire)
type=forbidden
source_modules=
    project.fire
forbidden_modules=
    project.water

[importlinter:contract:3]
name=Disallow to import boto3 for security reason
type=forbidden
source_modules=
    project
forbidden_modules=
    boto3

[importlinter:contract:4]
name=Only higher layers can import lower ones. stove (high) -> fire (medium) -> oil (low)
type=layers
layers=
    project.stove
    project.fire
    project.oil
